:root {
  --height-header: 60px;
  --khoang-cach-cua-firstItem: calc(30px + var(--height-header));

  --primary: black;
  --mau-dam: var(--mau-dam1);
  --mau-dam2: #b074e6;
  --mau-dam1: #6c57be;
  --mau-dam3: #551a8b;
  --mau-tb1: #8774e0;
  --mau-tb2: #9678d7;
  --mau-nhe1: #9686d8;
  --mau-nhe2: #9f84cf;
  --mau-nhat1: #b1a7e4;
  --mau-nhat2: #a793db;
  --mau-nhat3: #dad6fa;
  --body-color: linear-gradient(225deg, #cdc7fa 0%, #ffffff 100%);
  --info-wind-title-bg-color: var(--mau-dam);
  --info-wind-value-bg-color: var(--mau-nhat1);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Calibri", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background: var(--body-color);
  /* padding: 0 2%; */
  /* padding trái pải  */
}

/* cho tất cả các phần tử trên trang. */
/* reset css  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* tính luôn cả nội dung + padding + border. */
}

a {
  text-decoration: none;
  color: var(--mau-dam);
}

a:visited {
  color: var(--mau-dam);
}
a:active {
  color: var(--mau-tb1);
}

span {
  line-height: 1;
}
