.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height-header);
  box-shadow: -1px 3px 4px 1px rgba(108, 87, 190, 0.55);
  -webkit-box-shadow: -1px 3px 4px 1px rgba(108, 87, 190, 0.55);
  -moz-box-shadow: -1px 3px 4px 1px rgba(108, 87, 190, 0.55);
  z-index: 999;
}

.header-inner {
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #bec7ff 0%, #8995f4 100%);
  /* background: linear-gradient(225deg, #6c57be 0%, #9f84cf 100%); */
  background: linear-gradient(225deg, #6c57be 0%, #d7caef 100%);
  display: flex;
  align-items: center; /* chcao */
  justify-content: space-between;

  /* logo gif  */
  position: relative;
}

.logo {
  margin: 20px;
}
.logo-gif {
  position: absolute;
  transform: translate(-15px, -6px);
  /* X Y  */
  /* animation: logoGifMove 3s infinite ease-in-out; */
}
.header-navbar {
  margin-right: 20px;
}
