.card-base {
  /* background-color: transparent; */

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  text-shadow: 1px 1px 0 #b777ee;
  background: white;

  border-radius: 10%;
}

.card-base:hover {
  /* transform: translateY(-4px); */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* current card ======================================================= */
.currentCard {
  /* độ dài main card  */
  width: 90%;
  /* flex: 4; */
  display: flex;
  justify-content: space-between;
  margin: 60px 60px;

  margin-top: var(--khoang-cach-cua-firstItem);
  padding: 39px;
  border-radius: 49px;
}

.currentCard-location {
  background-color: var(--mau-dam);
  font-weight: bold;
  font-family: "Calibri" !important;

  padding: 5px 15px;
  border-radius: 999px;
  display: inline-block;
}

.currentCard-nhietDo {
  font-family: "Impact Black";
  font-size: 150px;
  text-shadow: 4px 3px 0 #814eae;
}

.currentCard-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 15px;
  line-height: 1;
}

.currentCard-date-week {
  font-size: 80px;
  font-family: "Candara Black";
  text-shadow: 4px 3px 0 #814eae;
}

.currentCard-date-today {
  padding-left: 10px;
}
.currentCard-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-items: center;
}
.currentCard-iconArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentCard-text {
  font-size: 30px;
  /* animation: textMove infinite 3s ease-in-out; */
  font-weight: bold; /* In đậm */
  font-style: italic; /* In nghiêng */
}
.currentCard-icon {
  animation: iconMoveLoop infinite 3s ease-in-out;
}

@keyframes iconMoveLoop {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

.currentCard .cardItem {
  background-color: transparent;
}
.currentCard .cardItem-value {
  text-shadow: 1px 1px 0 #b777ee;
}
/* img card ============================  */

.imgCard {
  color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  padding: 20px;
}

/* class dành riêng cho card vuông  */
.imgCard-square {
  aspect-ratio: 1 / 1;
  /* hình vuông */
}

/* location card ========================================  */
/* cha  */
.locationCard {
  display: flex;
  flex-direction: column;

  height: 100%;

  justify-content: space-between;

  padding: 30px 20px 20px 20px;
  border-radius: 25px;
}

/* info card =================================  */

.infoCard {
  padding: 20px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* goc xau qua pai css rieng  */
  border-radius: 20px;
}

.infoCard-ListCardItem {
  position: relative;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  top: 20px; /* giảm độ cao xuống đè nền */

  padding: 0 50px;
}

/* detail card =====================================  */

.detailCard {
  padding: 20px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* goc xau, css rieng  */
  border-radius: 25px;
}

/* css: carditem        carditem  */
.detailCard-groupCardItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--mau-nhat3);
  border-radius: 10px;
  padding: 15px;
}

.detailCard .cardItem-value {
  font-size: 20px;
  font-weight: bold;
  font-family: "Monsterrat";
}

/* CARD ITEM  */
/* card item ===================================== */

.cardItem {
  display: flex;
  align-items: center;
}

/* card item : icon  */
.cardItem-icon {
  color: var(--mau-dam);
  margin-right: 10px;
}

/* value card item all card ======================  */
.cardItem-value {
  text-shadow: none;
}

.locationCard .cardItem-value,
.infoCard .cardItem-value {
  font-size: 30px;
  text-shadow: none;
  font-family: "Brush Script MT";
}

/* hour card ==========================  */
.hourCard {
  width: 23%;
  min-width: 320px;
  height: 450px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  background-color: var(--mau-nhat3);
  border-radius: 20px;
}
.hourCard:hover {
  background-color: var(--mau-nhat1);
  transform: scale(1.05);
}
