.btn-wrapper {
  font-size: 1.6rem;
  font-weight: 700;
  min-width: 100px;
  padding: 9px 16px;
  border-radius: 4px;
  background-color: var(--mau-nhat3);

  display: flex;
  justify-content: center;
}

.btn-wrapper:hover {
  background-color: var(--mau-nhat1);
}

/* btn forecast , temp,rain,wind ===============  */
.activeBtn {
  background-color: var(--mau-nhat1);
}

.btn-cycle {
  /* border-radius: 999%; */
  padding: 10px;
  border-radius: 50%;
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid transparent;

  color: var(--mau-dam);
  padding-left: 10px;
  min-width: 50px;
}
.btn-transparent:hover {
  background-color: transparent;
}

.btn-square {
  min-width: 40px;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid transparent;
  color: white;
}

/* size của btn: small medium large  */
.btn-medium {
  font-size: 3rem;
  padding: 15px 21px;
  border: 2px solid var(--mau-dam);
}

/* icon lech thi flex align center  */
.button-icon {
  display: flex;
  align-items: center;
}
