footer {
  margin-top: 50px;
}

.footer-wrapper {
  text-align: center;
  padding: 20px;
  background-color: var(--mau-dam);
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
