.search-wrapper {
  display: flex;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
}

#search-input {
  width: 95%;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: bold;
  color: var(--mau-dam);
}
#search-input:focus,
#search-input:focus-visible {
  outline: none !important; /* mac dinh co outline */
  border: 1px solid transparent;
  box-shadow: none !important;
  background-color: transparent;
}

#search-input::placeholder {
  color: #6c3a79;
  font-style: italic;
}
